/**
 * ========================== Navigation ==========================
 */
.navbar {
	background: rgb(3,21,83);
	background: linear-gradient(159deg, rgba(3,21,83,1) 10%, rgba(34,61,177,1) 55%, rgba(54,76,180,1) 100%);
	padding-top: 0;
	padding-bottom: 0;
}

.navbar h5 {
	color: yellow;
}

.navbar span h6 {
	color: yellow;
}

.navbar img {
	width: 60px;	
}

/**
 * ========================== Main View Container ==========================
 */

.cont-info {
	padding-top: 80px;
	padding-left: 5px;
}

.cont-lab-info {
	height: 80vh;
	margin-left: 15px;
	background: rgb(26,59,4);
	background: linear-gradient(351deg, rgba(26,59,4,1) 7%, rgba(27,46,14,1) 55%, rgba(22,61,8,1) 86%);
}

.cont-lab-search {
	height: calc(100vh - 122px);
}

.cont-info label {
	font-size: 14px;
	color: white;
}

.cont-info hr {
	background-color: white;
}

.table-lab-search {
	display: none;
	font-size: 12px;
}

.txtS {
	height: 25px !important;
	font-size: 14px !important;
}

/**
 * ========================== Phone Call Search ==========================
 */
.enc-pc-cont {
	margin-top: 80px;
}

.container {
	height: 100vh;
	margin-left: 0;
	padding-left: 15px;
	background: rgb(23,28,79);
	background: linear-gradient(351deg, rgba(23,28,79,1) 7%, rgba(11,38,74,1) 55%, rgba(9,9,74,1) 86%);
}

/*.en-li {
	padding-top: 5px;
	padding-bottom: 5px;
}*/


.en-li a {
	text-decoration: none;
	color: #ececec;
}

.en-li a {
	color: #ececec;
}

.en-li a p:hover {
	text-decoration: none;
	color: yellow;
}

/*.en-li a:active {
	text-decoration: all;
	color: yellow;
}*/

.en-li ul {
	padding-left: 30px;
}

/**
 * ========================== Technical Support Phone Call Registration ==========================
 * pc_register.php
 */

.cont-pcReg-labInfo {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
	border: 1px solid grey;
	text-align: center;
	font-family: sans-serif;
	background: rgb(201,201,203);
background: linear-gradient(0deg, rgba(201,201,203,1) 7%, rgba(221,225,231,1) 55%, rgba(221,221,255,1) 86%);
}

.cont-pcReg-labInfo p:nth-child(1) {
	font-size: 14px;
	font-weight: bold;
}

.cont-pcReg-labInfo p {
	font-size: 12px;
}

.tbl-tblRecordList {
	font-size: 12px;
	display: none;
	border: 2px solid black;
}

.empContSearch {
	background: rgb(43,56,126);
background: linear-gradient(321deg, rgba(43,56,126,1) 49%, rgba(17,62,119,1) 100%);
}

.dtkContSearch {
	background: rgb(119,82,25);
background: linear-gradient(342deg, rgba(119,82,25,1) 1%, rgba(161,119,55,1) 49%, rgba(68,34,8,1) 100%);
}

.cont-empTs {
	background: rgb(33,40,78);
background: linear-gradient(321deg, rgba(33,40,78,1) 49%, rgba(17,62,119,1) 100%);
}

.cont-dtkTs {
	background: rgb(77,55,29);
background: linear-gradient(132deg, rgba(77,55,29,1) 1%, rgba(142,104,16,1) 100%);
}

.cont-bioTs {
	background: rgb(26,101,94);
background: linear-gradient(325deg, rgba(26,101,94,1) 49%, rgba(11,74,71,1) 100%);
}

.cont-rcoTs {
	background: rgb(43,55,64);
background: linear-gradient(141deg, rgba(43,55,64,1) 49%, rgba(46,68,54,1) 100%);
}

.cont-othersTs {
	background: rgb(101,54,72);
background: linear-gradient(141deg, rgba(101,54,72,1) 49%, rgba(70,41,62,1) 100%);
}

.cont-v2Ts {
	background: rgb(41,91,71);
background: linear-gradient(321deg, rgba(41,91,71,1) 49%, rgba(51,113,77,1) 100%);
}

.dtkContSearch,
.empContSearch,
.cont-empTs,
.cont-dtkTs,
.cont-bioTs,
.cont-rcoTs,
.cont-othersTs,
.cont-v2Ts{
	display: none;
	padding: 0px 10px 5px 10px;
}

.cont-tsQa select {
	width: 100%;
	overflow-x: auto;
	font-size: 13px;
}

.cont-tsQa p,
.cont-tsManual p {
	color: yellow;
	font-size: 12px;
}

.cont-capBio label {
	font-size: 13px;
	color: yellow;
}

.cont-capBio input {
	font-size: 12px;
	height: 25px;
}

.cont-capBio input[type="date"] {
	font-size: 12px;
	width: 150px;
}

.btnBioSearch {
	width: 150px;
}


/**
 * ========================== Footer ==========================
 */
footer {
	background: rgb(14,21,43);
	background: linear-gradient(349deg, rgba(14,21,43,1) 10%, rgba(30,31,36,1) 55%, rgba(7,9,19,1) 100%);
}